<h1>Edit a Recipe</h1>

<%= form_tag "/recipes/#{@recipe.id}", method: :patch do %>
  <div>
    Title: <input type="text" name="title">
  </div>
  <div>
    Chef: <input type="text" name="chef">
  </div>
  <div>
    Ingredients: <input type="text" name="ingredients">
  </div>
  <div>
    Directions: <input type="text" name="directions">
  </div>
  <input class="btn btn-success" type="submit" value="Update Recipe">
<% end %>